button {
            background: rgb(28, 184, 65);
            color: white;
          border-radius: 10px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          padding: 10px;
        }
h1 {
  text-align: center;
  color: rgb(28, 184, 65);
}
body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgb(252,255,244) 0%, rgb(223,229,215) 40%, rgb(179,190,173) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgb(252,255,244) 0%,rgb(223,229,215) 40%,rgb(179,190,173) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgb(252,255,244) 0%,rgb(223,229,215) 40%,rgb(179,190,173) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
